    <!-- Core -->
<script src="/usuario/vendor/bootstrap/dist/js/bootstrap.min.js"></script>



<!-- Volt JS -->
<script src="/usuario/assets/js/volt.js"></script>

<span id="teste-remove">
    
<!--Start of Tawk.to Script-->
<script type="text/javascript" >
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/612a40fd649e0a0a5cd364f4/1fe73c5pm';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->

</div>