<link rel="stylesheet" type="text/css" href="/usuario/css/painel.css">

<body style="background:{{estabelecimento.painel.colorFundo}};">
    <header>
        <div class="container-md capa-painel mt-2" style="background-image: url({{estabelecimento.img.capa.url}})">
            <center>
                <div>
                    <br>
                    <img src="{{estabelecimento.img.logo.url}}" class="rounded-circle rounded border logo-painel">
                </div>
        </div>
        </center>
        <br>
    </header>

</body>
<h1 style="color:{{estabelecimento.painel.colorFonte}};" class="estabelecimento rb" id="nomeEstabelecimento">
    Carrinho</h1>

<div class="container-md">
    <div style="height: 120px;background:white;">
        <img class="img-carrinho"
            src="https://uploadhotpedidos.s3.sa-east-1.amazonaws.com/Estabelecimentos/60a13699df46330c28432b78/produtos/60bc06c0eb783817a8c8d4ff%20-%20Produto">
       
            <h1 class="rb " style="font-size: 15px;font-weight:bold;margin-left:100px;margin-top:-50px">Pizza Grande 4 queijos</h1>
            <h1 class="rb mb-2" style="font-size: 12px;margin-left:100px;">R$
                10,00 - Qtd: 1</h1>
    
    </div>

</div>