<link rel="stylesheet" type="text/css" href="/usuario/css/painel.css">

<div style="margin: 150px auto;">
<h1 style="color:black;" class="estabelecimento rb" >Como deseja pagar?</h1>

<div class="container-md max-container" id="container-end">

    <div style="height:100%;background:white">
        <br>
         <center>
             <div class="radio-toolbar rb">
                Selecione a forma de entrega<br>
                <input type="radio" id="radio1" name="radios" value="">
                <label style="margin-top: 10px;" for="radio1">Retirar no local</label>
                <input type="radio" id="radio2" name="radios" value="false" checked>
                <label  style="margin-top: 10px;" for="radio2">Entrega</label>

    
            </div>
        </center>
</div>
</div>
</div>
<br><br><br><br>

<div class="background-pedidos">
    <a href="/estabelecimento/{{estabelecimento.url}}/"><button class="voltar">« Voltar</button></a>    
    <a href="/estabelecimento/{{estabelecimento.url}}/"><button class="proximo">Enviar Pedido</button></a>
</div>

<script>
    $(document).ready(function () {
        $("#retirar").toggleClass("filter-gray");

        $("#retirar").change(function () {
            $("#retirar").removeClass("filter-gray");
            $("#entregar").toggleClass("filter-gray");
        })

        $("#entregar").change(function () {
            $("#entregar").removeClass("filter-gray");
            $("#retirar").toggleClass("filter-gray");
        })
    })
</script>