{{>usuario/_top-css}}

<div class="container-fluid bg-soft">
<div class="row">
<div class="col-12">
{{>usuario/_menu}}

<main class="content">
    
    <div class="">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                <li class="breadcrumb-item"><a href="/dashboard"><span class="fas fa-home"></span></a></li>
            </ol>
        </nav>
    </div>

    <div>
        {{dataFormatTimeZone "2013-03-07T07:00:00-08:00"}}
    </div>

</main>

</div>
</div>
</div>

{{>usuario/_rodape}}

{{>_msg}}
