{{>_navb}}

<script>
  $('#recursos').on('click', function () {
    $('#recursos').fadeIn();
  })
  $('#contatos').on('click', function () {
    $('#contatos').fadeIn();
  })
</script>
<section id="home" class="about-us section">
   <h1 class="title-pc rb" style="font-size:40px;color:white;font-weight: bold;margin-left:500px;margin-top:100px;">SISTEMA PARA CONTROLE</h1><br>
   <h1 class="title-pc rb" style="font-size:40px;color:white;font-weight: bold;margin-left:500px;margin-top:-30px;">DE ENTREGAS</h1>
   <h1 class="title-pc rb" style="font-size:15px;color:white;margin-left:500px;margin-top:25px;">Cadastro de produtos, Dashboard, Painel de vendas customizável</h1>
   <h1 class="title-pc rb" style="font-size:15px;color:white;margin-left:500px;margin-top:5px;">e muito mais...</h1>
   <br><a style="color:white" href="/registro"><button type="button" class="title-pc rb" style="font-size:20px;color:white;margin-left:700px;margin-top:10px;border-radius:50px;
   background:#081c15;width:300px;height:60px;border:none;">Teste grátis por 7 dias</button></a>
  <div class="container" style="margin-right: 800px;">
    <div class="col-lg-10 col-15">
      <div class="about-right wow fadeInRight" data-wow-delay=".4s">
        <p><img class="img-principal" src="site/images/header/img-principal.png" alt="#"> 
      </div>
    </div>
    <center>
  <a style="color:white" href="/registro"><button type="button" class="ativ-b rb" style="font-size:20px;color:white;margin-top:10px;border-radius:50px;
   background:#081c15;width:300px;height:60px;border:none;">Teste grátis por 7 dias</button></a>
</center>
  </div>

</section>


<!-- ======= Details Section ======= -->
<section id="recursos" class="pricing-table2 section" data-wow-delay=".4s">
  <div class="container">
    <br>
    <div class="fonts-title">
      <h2 class="rb" style="color: black;font-weight: bold;" data-wow-delay=".2s">Recursos
      </h2>
    </div>
    <div class="row content">
      <div class="col-md-4" data-aos="fade-right">
        <img src="site/images/details-1.png" class="img-fluid" alt="">
      </div>
      <div class="col-md-8 pt-4" data-aos="fade-up">
        <h3 style="color: black;">Impressão de comanda</h3>
        <p class="fst-italic" style="color: black;">
          Sistema compatível com a emissão de comanda por impressora não fiscal.
        </p>
      </div>
    </div>

    <div class="row content">
      <div class="col-md-4 order-1 order-md-2" data-aos="fade-left">
        <img src="site/images/details-2.png" class="img-fluid" alt="">
      </div>
      <div class="col-md-8 pt-5 order-2 order-md-1" data-aos="fade-up">
        <h3 style="color: black;">Painel de vendas customizável</h3>
         <p class="fst-italic" style="color: black;">
          Painel totalmente customizável e facil de utilizar.
        </p>
      </div>
    </div>

    <div class="row content">
      <div class="col-md-4" data-aos="fade-right">
        <img src="site/images/details-3.png" class="img-fluid" alt="">
      </div>
      <div class="col-md-8 pt-5" data-aos="fade-up">
         <h3 style="color: black;">Integração com pagamento online</h3>
        <p class="fst-italic" style="color: black;">
          Para quem é usuário do MERCADO PAGO, temos uma integração com pagamentos online.</p>
           <p class="fst-italic" style="color: black;">
          Após realizado a ativação seus clientes irão conseguir realizar pagamentos pelo painel.</p>
      </div>
    </div>
  </div>
</section>
<!-- Fim Recursos -->


{{>_navbutton}}

{{>_rodape}}
