{{>_navb}}
 <title>Hotpedidos</title>

<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/612a40fd649e0a0a5cd364f4/1fe6grode';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->

<script>
  $('#recursos').on('click', function () {
    $('#recursos').fadeIn();
  })
  $('#contatos').on('click', function () {
    $('#contatos').fadeIn();
  })
</script>

<section id="home" class="section"  style="background-image: linear-gradient(180deg, #f38449, #FF5A00);width:100%;">
  <div class="container">
    <div class="about-right wow fadeInRight title-pc rb" data-wow-delay=".9s">
    <span
      style="font-size:40px;color:white;font-weight: bold;margin-left:520px;margin-top:100px;">SISTEMA PARA
      CONTROLE</span><br>
    <span style="font-size:40px;color:white;font-weight: bold;margin-left:520px;margin-top:-10px;margin-bottom:10px;">DE ENTREGAS</span>
    <span style="font-size:15px;color:white;margin-left:520px;">Simples, fácil de utilizar e completo. Tenha todo o controle de suas entregas em um único local.</span>
    <br><a style="color:white" href="/registro"><button type="button" style="font-size:20px;color:white;margin-left:520px;margin-top:30px;border-radius:50px;
   background:#081c15;width:300px;height:60px;border:none;">Teste grátis por 7 dias</button></a>
   </div>
      <div class="about-right wow fadeInRight title-pc" data-wow-delay=".4s">
        <p><img class="img-principal" src="site/images/header/img-principal.png" alt="#">
      </div>
      <br>
      <div class="ativ-b rb">
      <p><img class="img-principal mt-2" src="site/images/header/img-principal.png">
      <span style="font-size:25px;color:white;font-weight: bold;;margin-top:15px;line-height: normal;">SISTEMA PARA 
        CONTROLE DE ENTREGAS</span><br>
      <span style="font-size:15px;color:white;margin-top:10px;">Simples, fácil de utilizar e completo. Tenha todo o controle de suas entregas em um único local.</span>
      <center><a style="color:white;" href="/registro"><button type="button" style="font-size:20px;color:white;margin-top:10px;border-radius:50px;
   background:#081c15;width:300px;height:60px;border:none;">Teste grátis por 7 dias</button></a></center>
   </div>
  </div>
</section>


<!-- ======= Details Section ======= -->
<section id="recursos" class="pricing-table2 section">
  <div class="container">
    <div class="fonts-title">
      <span style="color: black;font-weight: bold;font-size:28px;font-family:Arial, Helvetica, sans-serif;" data-wow-delay=".2s">CONHEÇA ALGUNS DE NOSSOS RECURSOS
      </span>
    </div>
    <br><br>
    <div class="row content mt-4">
      <div class="col-md-4" data-aos="fade-right">
        <img src="site/images/details-1.png" class="img-fluid" alt="">
      </div>
      <div class="col-md-8" data-aos="fade-up">
        <h4 style="color: black;">Impressão de comanda</h4>
        <p class="fst-italic" style="color: black;">
          Chega de perder tempo e pare de utilizar papel e caneta, com a impressão da comanda você consegue todas as informações do pedido de forma bem detalhada e simples.
        </p>
      </div>
    </div>

    <div class="row content">
      <div class="col-md-4 order-1 order-md-2" data-aos="fade-left">
        <img src="site/images/details-2.png" class="img-fluid" alt="">
      </div>
      <div class="col-md-8 pt-5 order-2 order-md-1" data-aos="fade-up">
        <h4 style="color: black;">Painel de vendas customizável</h4>
        <p class="fst-italic" style="color: black;">
          Personalize seu painel de vendas e deixe com a cara de seu estabelecimento. Com a ferramenta de customização, agora é fácil ajustar o visual da maneira que desejar!
        </p>
      </div>
    </div>

    <div class="row content">
      <div class="col-md-4" data-aos="fade-right">
        <img src="site/images/details-3.png" class="img-fluid" alt="">
      </div>
      <div class="col-md-8" data-aos="fade-up">
        <h4 style="color: black;">Integração com pagamento online</h4>
        <p class="fst-italic" style="color: black;">
          Para quem é usuário do MERCADO PAGO, temos uma integração com pagamentos online.</p>
        <p class="fst-italic" style="color: black;">
          Após realizado a ativação, seus clientes irão conseguir realizar pagamentos através do painel.</p> 
      </div>
    </div>  
    <center>
    <h3 style="color: black;margin-top:50px;">Quer saber mais?</h3>
         <a href="/registro"><h6>Crie sua canta agora mesmo.</h6></a>
         </center>
  </div>
</section>
<!-- Fim Recursos -->

{{>_rodape}}


<script src="site/js/bootstrap.min.js"></script>
<script src="site/js/count-up.min.js"></script>
<script src="site/js/wow.min.js"></script>
<script src="site/js/tiny-slider.js"></script>
<script src="site/js/glightbox.min.js"></script>
<script src="site/js/imagesloaded.min.js"></script>
<script src="site/js/isotope.min.js"></script>
<script src="site/js/main.js"></script>

