


<form action="" method="get">
  <input name='tags' placeholder='write some tags' value='1'>
  <button type="submit">as</button>
</form>

<script>

  var whitelist = [{ "id": 1, "value": 1, "name": "foo bar" }, { "id": 2, "value": 2, "name": "foo bar" }]

  var input = document.querySelector('input[name=tags]');

  // init Tagify script on the above inputs
  var tagify = new Tagify(input, {
    whitelist: whitelist,
    dropdown: {
      position: "manual",
      maxItems: Infinity,
      enabled: 0,
      classname: "customSuggestionsList"
    },
    enforceWhitelist: true
  })

  tagify.on("dropdown:show", onSuggestionsListUpdate)
    .on("dropdown:hide", onSuggestionsListHide)
    .on('dropdown:scroll', onDropdownScroll)

  renderSuggestionsList()

  // ES2015 argument destructuring
  function onSuggestionsListUpdate({ detail: suggestionsElm }) {
    console.log(suggestionsElm)
  }

  function onSuggestionsListHide() {
    console.log("hide dropdown")
  }

  function onDropdownScroll(e) {
    console.log(e.detail)
  }

  // https://developer.mozilla.org/en-US/docs/Web/API/Element/insertAdjacentElement
  function renderSuggestionsList() {
    tagify.dropdown.show.call(tagify) // load the list
    tagify.DOM.scope.parentNode.appendChild(tagify.DOM.dropdown)
  }
</script>