<link rel="stylesheet" href="site/css/main.css">
<link rel="stylesheet" href="site/css/bootstrap.min.css">
<script>window.rwbp = { email: 'hotpedidosalterosa@gmail.com', phone: '+5535999028100', message: 'Olá! Em que podemos ajudar?' }</script>
<script defer async src='https://duz4dqsaqembt.cloudfront.net/client/whats.js'></script>
{{>_msg}}

<div class="container-fluid">
    <div class="row no-gutter">

        <div class="col-md d-none d-md-flex bg-image">
            <div class="containerp" style="display:list-item;margin-left:-200px;">
                <p><a href="/"><img style="width: 450px;margin-top:250px;" src="site/images/logo/logo.png"></a></p>
                <p><span class="word"></span></p>
            </div>

        </div>
        <div class="col-md-4" style="background: #FF5A00;">
            <div class="login d-flex align-items-center py-5">

                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 col-xl-8 mx-auto" style="color: white;">
                            <h3 class="display-4">Login</h3>
                            <p class="font-italic" style="color: white;">Acesse sua conta com seu e-mail e senha.</p>
                            <br>
                            <form action="/acessos/login" method="POST">
                                <div class="form-group mb-3">
                                    <input id="email" type="email" name="email" placeholder="Email" required=""
                                        autofocus="" class="form-control rounded-pill border-0 shadow-sm px-4">
                                </div>
                                <div class="form-group mb-3">
                                    <input id="senha" name="senha" type="password" placeholder="Senha" required=""
                                        class="form-control rounded-pill border-0 shadow-sm px-4 text-primary">
                                </div>

                                <button type="submit"
                                    class="btn btn-primary btn-block text-uppercase mb-2 rounded-pill shadow-sm">Acessar</button>
                                <div class="text-center d-flex justify-content-between mt-4">
                                    <p>Esqueceu sua senha? <a href="#" data-bs-toggle="modal"
                                            data-bs-target="#trocarsenha" class="font-italic" style="color: white;">
                                            <u>Clique aqui</u></a></p>
                                </div>
                                <p>Não possui uma conta?<a href="/registro" class="font-italic" style="color: white;">
                                        <u>Clique aqui</u></a></p>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="trocarsenha" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Trocar Senha</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="form-enviar-confirmacao" action="/acessos/mail-senha" method="POST">
                    <div class="col-md">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="emailtroca" name="emailtroca" placeholder="0">
                            <label for="emailtroca">Digite seu e-mail</label>
                        </div>
                    </div>
                    <button type="submit" id="enviaemail" class="mt-2"
                        style="width: 100px;height:40px;background:#081C15;color:white;border:none;border-radius:5px;">Enviar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="trocarsenha2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Trocar Senha</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="form-confirma-token" action="/acessos/reset-senha" method="POST">
                    <input type="hidden" id="receberemail" name="receberemail">
                    <div class="col-md">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="token" name="token" placeholder="0">
                            <label for="token">Chave recebida</label>
                        </div>
                    </div>
                    <div class="col-md mt-2">
                        <div class="form-floating">
                            <input type="password" class="form-control" id="senhanova" name="senhanova" placeholder="0">
                            <label for="senhanova">Digite sua nova senha</label>
                        </div>
                    </div>
                    <button id="trocasenha" class="mt-2"
                        style="width: 100px;height:40px;background:#081C15;color:white;border:none;border-radius:5px;">Alterar</button>
                </form>
            </div>
        </div>
    </div>
</div>


</body>
<script>
    $('#form-enviar-confirmacao').submit(() => {
        let emailtroca = $('#emailtroca').val()
        event.preventDefault()
        jQuery.ajax({
            type: "POST",
            url: '/acessos/mail-senha',
            data: { emailtroca: emailtroca },
            success: function (response) {
                if (response.responseid == 200) {
                    spinngLoading(false)
                    $('#receberemail').val(emailtroca)
                    $('#trocarsenha').modal('hide')
                    $('#trocarsenha2').modal('show')
                }
                if (response.responseid == 100) {
                    spinngLoading(false)
                    $(document).ready(() => {
                        Swal.fire({
                            icon: 'error',
                            title: 'Esse e-mail não está cadastrado.',
                            footer: '<a href="/registro">Criar uma conta.</a>',
                            confirmButtonText: 'Ok',
                            allowOutsideClick: false,

                        }).then((result) => {
                            if (result.isConfirmed) {
                                document.location.reload(true);
                            }
                        })
                    })
                }
            }
        });
    })

</script>
<script>
    $('#form-confirma-token').submit(() => {
        let token = $('#token').val()
        let senhanova = $('#senhanova').val()
        let receberemail = $('#receberemail').val()
        event.preventDefault()
        jQuery.ajax({
            type: "POST",
            url: '/acessos/reset-senha',
            data: { receberemail: receberemail, senhanova: senhanova, token: token },
            success: function (response) {
                if (response.responseid == 200) {
                    spinngLoading(false)
                    $(document).ready(() => {
                        Swal.fire({
                            icon: 'success',
                            title: 'Senha alterada com sucesso!',
                            confirmButtonText: 'Ok',
                            allowOutsideClick: false,
                        }).then((result) => {
                            if (result.isConfirmed) {
                                document.location.reload(true);
                            }
                        })

                    })
                }
                if (response.responseid == 100) {
                    spinngLoading(false)
                    $(document).ready(() => {
                        Swal.fire({
                            icon: 'error',
                            title: 'Chave inválida.',
                            allowOutsideClick: false,

                        })
                    })
                }
                if (response.responseid == 125) {
                    spinngLoading(false)
                    $(document).ready(() => {
                        Swal.fire({
                            icon: 'error',
                            title: 'Senha muito curta.',
                            allowOutsideClick: false,

                        })
                    })
                }
            }
        });
    })

</script>
<script>
    var capturando = "";
    function trocarmodal() {
        capturando = document.getElementById('emailtroca').value
        document.getElementById('emailrecebido').innerHTML = capturando;
    }

</script>


{{#if error_msg}}

<script>
    $(document).ready(() => {
        Swal.fire({
            icon: 'error',
            title: '{{error_msg}}',

        })

    })

</script>



{{/if}}

<script>
    var
  words = ['Controle seus pedidos.','Divulgue seus produtos.','Melhore suas vendas.'],
  part,
  i = 0,
  offset = 0,
  len = words.length,
  forwards = true,
  skip_count = 0,
  skip_delay = 5,
  speed = 100;

var wordflick = function(){
  setInterval(function(){
      if (forwards) {
        if(offset >= words[i].length){
          ++skip_count;
          if (skip_count == skip_delay) {
            forwards = false;
            skip_count = 0;
          }
        }
      }
      else {
         if(offset == 0){
            forwards = true;
            i++;
            offset = 0;
            if(i >= len){
              i=0;
            } 
         }
      }
      part = words[i].substr(0, offset);
      if (skip_count == 0) {
        if (forwards) {
          offset++;
        }
        else {
          offset--;
        }
      }
      $('.word').text(part);
  },speed);
};

$(document).ready(function(){
  wordflick();
});
</script>