<link rel="stylesheet" href="site/css/main.css">
<link rel="stylesheet" href="site/css/bootstrap.min.css">

{{>_msg}}

<section style="background-color: #D8F3DC;" class="pricing-table section">
    <div class="container">
        <div class="title">
            <h3 style="text-align: center;color:#95D5B2" data-wow-delay=".2s">
                <a href="/"><img src="site/images/logo/logo.png"></a>
            </h3>
        </div>
        <br>
        <div class="row">
            <div class="col-12">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-8 col-12" style="margin:auto;">
                <div class="single-table wow fadeInUp" data-wow-delay=".4s">
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput">Email</label>
                    </div>
                    <div class="form-floating">
                        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                        <label for="floatingPassword">Senha</label>
                    </div>                 
                      <br><button type="button" class="btn btn-primary">Acessar</button>
                </div>
            </div>
        </div>
    </div>
</section>



{{>_preloader}}