
<link rel="stylesheet" href="site/css/main.css" />
<link rel="stylesheet" href="site/css/bootstrap.min.css">
{{>_navb}}
<script>$("#recursos1").remove()</script>
<body style="background:#FF5A00;"></body>
{{>_msg}}

<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/612a40fd649e0a0a5cd364f4/1fe6grode';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->

<form action="acessos/registro" method="POST">

<container style="background:#FF5A00;height:500px;margin-bottom:200px">
    <div id="minhaDiv">
            <div class="col-lg-6 col-md-6 col-12" style="margin:auto;">
                <br><br>
                <div class="card" style="border:none;background:#FF5A00;margin-top: 80px;">
                    <div class="row g-2 mt-3" style="padding-left: 15px;padding-right: 15px;">
                        <center>
                        <p style="color: white;font-size:25px;">Preencha suas informações:</p>
                        <br>
                        </center>
                        <div class="col-md-4">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="primeiroNome" name="primeiroNome"
                                    placeholder="0" required>
                                <label for="primeiroNome">Primeiro Nome*</label>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="nomeCompleto" name="nomeCompleto"
                                    placeholder="0" required>
                                <label for="nomeCompleto">Nome Completo*</label>
                            </div>
                        </div>
                        <div class="row g-2">
                            <div class="col-md">
                                <div class="form-floating">
                                    <input type="email" class="form-control" id="email" name="email" placeholder="0"
                                        required>
                                    <label for="email">E-mail*</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="cpf" name="cpf" onkeyup="cpfCheck(this)"
                                        maxlength="18" onkeydown="javascript: fMasc( this, mCPF );"
                                        onblur="cpfvalid(this)" placeholder="0" required>
                                    <label for="cpf">CPF*&nbsp;&nbsp;<span class="d-inline" id="cpfResponse"
                                            name="cpfResponse"></span></label>
                                    <input type="hidden" id="validacpf" name="validacpf">
                                </div>

                            </div>
                            <div class="row g-2">
                                <div class="col-md">
                                    <div class="form-floating">
                                        <input type="password" class="form-control" id="senha" name="senha"
                                            placeholder="0" required>
                                        <label for="celcomercial">Senha* (4 digitos)</label> 
                                    </div>
                                </div>
                                <div class="col-md">
                                    <div class="form-floating">
                                        <input type="password" class="form-control" id="senha2" name="senha2"
                                            placeholder="0" required>
                                        <label for="telcomercial">Confirmar senha*</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <center>
                    <button type="submit" class="mb-4"  style="font-size:18px;color:white;margin-top:10px;border-radius:50px;
   background:#081c15;width:150px;height:50px;border:none;"  onclick="Mudarestado()">Próximo
                    »</button> 
                    </center>         
                </div>
            </div> 
            </div>
    </container>     
   
<container style="background:#FF5A00;;height:500px;margin-bottom:220px">
    <div id="minhaDiv2" >
            <div class="col-lg-6 col-md-6 col-11" style="margin:auto;">
                <br><br>
                <div class="card" style="border:none;background:#FF5A00;margin-top: 80px;">
                  <center>
                       <p style="color: white;font-size:25px;">Preencha suas informações:</p>
                        <br>
                        </center>
                    <div class="row g-2">
                        <center>
                            <div class="col-md-8">
                                <label class="mb-2" style="color: white;">Digite a url do painel de vendas</label>
                                <div class="form-floating">    
                                    <input type="text" maxlength="20" class="form-control" id="url" name="url" placeholder="0"
                                        required>
                                    <label for="url">hotpedidos.com/estabelecimento/</label>
                                </div>
                            </div>
                        </center>
                    </div>
                    <div class="row g-2 mt-2">
                        <div class="col-md">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="nome" name="nome" placeholder="0" required>
                                <label for="nome">Nome do estabelecimento*</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="telefone" name="telefone" placeholder="0"
                                    required>
                                <label for="telefone">Celular*</label>
                            </div>

                        </div>
                        <div class="row g-2">
                            <div class="col-md-3">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="cep" name="cep" placeholder="0"
                                        required>
                                    <label for="cep">CEP*</label>
                                </div>
                            </div>
                            <div class="col-md">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="logradouro" name="logradouro"
                                        placeholder="0" required>
                                    <label for="logradouro">Endereço*</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="numero" name="numero" placeholder="0"
                                        required>
                                    <label for="numero">N°-Apt-Lote*</label>
                                </div>
                            </div>
                        </div>
                        <div class="row g-2">
                            <div class="col-md-4">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="bairro" name="bairro" placeholder="0"
                                        required>
                                    <label for="bairro">Bairro*</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="localidade" name="localidade"
                                        placeholder="0" required>
                                    <label for="localidade">Cidade*</label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="uf" name="uf" placeholder="0" required>
                                    <label for="uf">UF*</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <center>
                    <button type="button" class="mb-4" style="font-size:18px;color:white;margin-top:10px;border-radius:50px;
                        background:#081c15;width:150px;height:50px;border:none;" onclick="Mudarestado2()">« Voltar</button> 
                        <button type="submit" class="mb-4"  style="font-size:18px;color:white;margin-top:10px;border-radius:50px;
                            background:#081c15;width:150px;height:50px;border:none;" >Cadastrar</button> 
                    </center> 
                </div>
            </div>
    </div>
</form>
</container>
<center><hr style="color: rgb(247, 0, 0);height:5px;margin-top:100px;" class="w-25"></center>

{{>_rodape}}

<script>
    const cep = document.querySelector("#cep")

    const showData = (result) => {
        for (const campo in result) {
            if (document.querySelector("#" + campo)) {
                document.querySelector("#" + campo).value = result[campo]
            }
        }
    }

    cep.addEventListener("blur", (e) => {
        let search = cep.value.replace("-", "")
        const options = {
            method: 'GET',
            mode: 'cors',
            cache: 'default'
        }

        fetch(`https://viacep.com.br/ws/${search}/json/`, options)
            .then(response => {
                response.json()
                    .then(data => showData(data))
            })
            .catch(e => console.log('Deu Erro: ' + e, message))
    })

</script>

<script>
    $('#minhaDiv2').hide()

    function Mudarestado() {
        let el1 = document.getElementById('primeiroNome')
        let el2 = document.getElementById('nomeCompleto')
        let el3 = document.getElementById('email')
        let el4 = document.getElementById('validacpf')
        let el5 = document.getElementById('senha')
        let el6 = document.getElementById('senha2')
        let el7 = document.getElementById('cpf')

        if (el1.value == "" || el2.value == "" || el3.value == "" || el5.value == "" || el6.value == "" || el7.value == "") {
            exibirMensagem('Preencha todos os campos para continuar.')
            return false;
        }
        if (el5.value != el6.value) {
            exibirMensagem('Senhas divergentes.')
            return false;
        }
        if (el3.value.indexOf('@') == -1) {
            exibirMensagem('E-mail inválido.')
            return false;
        }
        if (el5.value.length < 4) {
            exibirMensagem('Senha muito curta.')
            return false;
        }
        if (el4.value == "false") {
            exibirMensagem('CPF inválido.')
            return false;

        } else {
            $('#minhaDiv').hide()
            $('#minhaDiv2').show()
        }
    }

    function Mudarestado2() {
        $('#minhaDiv').show()
        $('#minhaDiv2').hide()
    }
</script>

<script>
    function exibirMensagem(msg) {
        $(document).ready(() => {
            Swal.fire({
                toast: true,
                title: msg,
                position: 'top-right',
                background: "#8a0000",
                showConfirmButton: false,
                showCloseButton: true,
                timer: 5000,
                timerProgressBar: true,
                customClass: {
                    title: 'font-title-notificacao',
                }
            })
        })

    }

</script>

<script>
    function is_cpf(c) {

        if ((c = c.replace(/[^\d]/g, "")).length != 11)
            return false

        if (c == "00000000000" || c == "11111111111" || c == "22222222222" || c == "33333333333" || c == "44444444444" || c == "55555555555" || c == "66666666666" || c == "77777777777" || c == "88888888888" || c == "99999999999")
            return false;

        var r;
        var s = 0;

        for (i = 1; i <= 9; i++)
            s = s + parseInt(c[i - 1]) * (11 - i);

        r = (s * 10) % 11;

        if ((r == 10) || (r == 11))
            r = 0;

        if (r != parseInt(c[9]))
            return false;

        s = 0;

        for (i = 1; i <= 10; i++)
            s = s + parseInt(c[i - 1]) * (12 - i);

        r = (s * 10) % 11;

        if ((r == 10) || (r == 11))
            r = 0;

        if (r != parseInt(c[10]))
            return false;

        return true;
    }


    function fMasc(objeto, mascara) {
        obj = objeto
        masc = mascara
        setTimeout("fMascEx()", 1)
    }

    function fMascEx() {
        obj.value = masc(obj.value)
    }

    function mCPF(cpf) {
        cpf = cpf.replace(/\D/g, "")
        cpf = cpf.replace(/(\d{3})(\d)/, "$1.$2")
        cpf = cpf.replace(/(\d{3})(\d)/, "$1.$2")
        cpf = cpf.replace(/(\d{3})(\d{1,2})$/, "$1-$2")
        return cpf
    }

    cpfCheck = function (el) {

        document.getElementById('cpfResponse').innerHTML = is_cpf(el.value) ? '<i style="color: green" class="fas fa-check">Valido</i>' : '<i style="color: red" class="fas fa-times">Inválido</i>';
        document.getElementById('validacpf').value = is_cpf(el.value)

    }
    $("#cpf").mask("000.000.000-00");
    $("#cep").mask("00000-000");
    $('#url').mask('AAAAAAAAAAAAAAAAAAAAAAAA');

    var SPMaskBehavior = function (val) {
        return val.replace(/\D/g, '').length === 11 ? '(00) 00000-0000' : '(00) 0000-00009';
    },
        spOptions = {
            onKeyPress: function (val, e, field, options) {
                field.mask(SPMaskBehavior.apply({}, arguments), options);
            }
        };

    $('#telefone').mask(SPMaskBehavior, spOptions);
</script>

{{>_preloader}}

</body>

<script src="site/js/bootstrap.min.js"></script>
<script src="site/js/count-up.min.js"></script>
<script src="site/js/wow.min.js"></script>
<script src="site/js/tiny-slider.js"></script>
<script src="site/js/glightbox.min.js"></script>
<script src="site/js/imagesloaded.min.js"></script>
<script src="site/js/isotope.min.js"></script>
<script src="site/js/main.js"></script>
