<link rel="stylesheet" href="site/css/main.css" />
<link rel="stylesheet" href="site/css/bootstrap.min.css">

{{>_msg}}

<section style="background-color: #D8F3DC;" class="pricing-table section">
    <div class="container">
        <form action="acessos/registro" method="POST">
            <div class="title">
                <h3 style="text-align: center;color:#95D5B2" data-wow-delay=".2s">
                    <a href="/"><img src="site/images/logo/logo.png"></a>
                </h3>
            </div>
            <br>
            <div class="row">
                <div class="col-12">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-8 col-12" style="margin:auto;">
                    <div class="single-table wow fadeInUp" data-wow-delay=".4s">
                        <div class="row g-2">
                            <div class="col-md-4">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="nome" name="nome" placeholder="0"
                                        required>
                                    <label for="telcomercial">Nome*</label>
                                </div>
                            </div>
                            <div class="col-md">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="nomecompleto" name="nomecompleto"
                                        placeholder="0" required>
                                    <label for="celcomercial">Nome completo*</label>
                                </div>
                            </div>
                            <div class="row g-2">
                                <div class="col-md">
                                    <div class="form-floating">
                                        <input type="email" class="form-control" id="email" name="email" placeholder="0"
                                            required>
                                        <label for="celcomercial">E-mail*</label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="cpf" name="cpf" placeholder="0"
                                            required>
                                        <label for="telcomercial">CPF*</label>
                                    </div>
                                     <span class="d-inline" id="cpfResponse" name="cpfResponse"></span>
                                </div>
                                <div class="row g-2">
                                    <div class="col-md">
                                        <div class="form-floating">
                                            <input type="password" class="form-control" id="senha" name="senha"
                                                placeholder="0" required>
                                            <label for="celcomercial">Senha*</label>
                                        </div>
                                    </div>
                                    <div class="col-md">
                                        <div class="form-floating">
                                            <input type="password" class="form-control" id="senha2" name="senha2"
                                                placeholder="0" required>
                                            <label for="telcomercial">Confirmar senha*</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <br><button type="submit" style="top: 300px;" class="btn btn-primary btn-lg">Cadastrar</button>
              </div>
        </form>
</section>
 <script src="site/js/cpf.js"></script>

{{>_preloader}}
