{{>admin/_top-css}}

<div class="container-fluid bg-soft">
<div class="row">
<div class="col-12">
{{>admin/_menu}}

<main class="content">
    
    <div class="">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                <li class="breadcrumb-item"><a href="/admin"><span class="fas fa-home"></span></a></li>
            </ol>
        </nav>
    </div>


</main>

</div>
</div>
</div>

{{>admin/_rodape}}

{{>_msg}}
