    <div class="preloader">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>

    <script src="site/js/bootstrap.min.js"></script>
    <script src="site/js/count-up.min.js"></script>
    <script src="site/js/wow.min.js"></script>
    <script src="site/js/tiny-slider.js"></script>
    <script src="site/js/glightbox.min.js"></script>
    <script src="site/js/imagesloaded.min.js"></script>
    <script src="site/js/isotope.min.js"></script>
    <script src="site/js/main.js"></script>
