<!-- Start Footer Area -->
    <footer id="contato" class="footer">
        <!-- Start Middle Top -->
        <div class="footer-middle">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-md-6 col-12">
                        <!-- Single Widget -->
                        <div class="f-about single-footer">
                            <div class="logo">
                                <a href="index.html"><img src="site/images/logo/logo.png" alt="Logo"></a>
                            </div>
                            <p>Sistema de gerenciamento de entregas.</p>
                            <p>© Copyright 2021 - Hot pedidos - Todos os direitos reservados.</p>
                            <div class="footer-social">
                                <ul>
                                    <li><a href="#"><i class="lni lni-instagram"></i></a></li>
                                    <li><a href="#"><i class="lni lni-twitter"></i></a></li>
                                    <li><a href="#"><i class="lni lni-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- End Single Widget -->
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <!-- Single Widget -->
                        <div class="single-footer f-link">
                            <h3>Páginas</h3>
                            <ul>
                                <li><a href="#">EM BREVE</a></li>
                            </ul>
                        </div>
                        <!-- End Single Widget -->
                    </div>

                    <div class="col-lg-3 col-md-6 col-12">
                        <!-- Single Widget -->
                        <div class="single-footer f-link" style="color: white;">
                            <h3>Suporte</h3>
                            <ul>
                                <li><i class="fas fa-envelope"></i>&nbsp;hotpedidosalterosa@gmail.com</li>
                                <li><i class="fab fa-whatsapp"></i>&nbsp;(35) 99902-8100</li>
                            </ul>
                        </div>
                        <!-- End Single Widget -->
                    </div>
                </div>
            </div>
        </div>
        <!--/ End Footer Middle -->