@media (max-width: 900px) {
    .capa-painel {
        width: 95%;
        height: 200px;
        border: none;
        border-radius: 20px;
        background-size: 100% 100%;
        background-image: url(/usuario/assets/img/favicon/capaApp.png);
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
    }

    .logo-painel {
        width: 100px;
        height: 100px;
        background-repeat: no-repeat;
        top: 100px;
        bottom: 50px;
        background-size: contain;
        position: relative;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
    }

    .status-icon {
        background-color: green;
        width: 100px;
        border-radius: 8px;
        margin-top: 105px;
        position: relative;
    }

    .estabelecimento {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: bold;
        margin-top: 10px;
        font-size: 20px;
        text-align: center;
    }

    .endereco {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: bold;
        font-size: 13px;
        display: inline;
        text-align: center;
    }

    .scrolling-wrapper {
        margin-top: 10px;
        height: 240px;
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
    }

    .button-scroll-left {
        visibility: hidden;
    }

    .button-scroll-right {
        visibility: hidden;
    }

    .carrinho {
        width: 100px;
        height: 50px;
        background: #081C15;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff !important;
        position: fixed;
        bottom: 10px;
        left: 30px;
        border-radius: 20px;
    }

    .finalizar {
        width: 100px;
        height: 50px;
        background: #081C15;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff !important;
        position: fixed;
        bottom: 10px;
        right: 30px;
        border-radius: 20px;
    }
}

@media (min-width: 900px) {
    .capa-painel {
        width: 70%;
        height: 300px;
        border: none;
        border-radius: 30px;
        background-size: 100% 100%;
        background-image: url(/usuario/assets/img/favicon/capaApp.png);
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
    }

    .logo-painel {
        width: 150px;
        height: 150px;
        background-repeat: no-repeat;
        top: 150px;
        bottom: 75px;
        background-size: contain;
        position: relative;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
    }

    .status-icon {
        background-color: green;
        width: 100px;
        border-radius: 8px;
        margin-top: 157.5px;
        position: relative;
    }

    .estabelecimento {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: bold;
        margin-top: 15px;
        font-size: 30px;
        text-align: center;
    }

    .endereco {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: bold;
        font-size: 19.5px;
        display: inline;
        text-align: center;
    }

    .scrolling-wrapper {
        margin-top: 15px;
        height: 360px;
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
    }

    .button-scroll-left {
        width: 50px;
        height: 50px;
        background: none;
        border: none;
        border-radius: 20px;
        font-size: 70px;
        position: relative;
        right: 500px;
        top: -220px;
    }

    .button-scroll-right {
        width: 50px;
        height: 50px;
        background: none;
        border: none;
        color: -50%;
        border-radius: 20px;
        font-size: 70px;
        position: relative;
        left: 500px;
        top: -220px;
    }
}

.button-scroll-left:active {
    filter: brightness(50%);
}

.button-scroll-right:active {
    filter: brightness(50%);
}

@media (max-width: 900px) {
    .card {
        margin-top: 10px;
        border: none;
        border-radius: 20px;
        display: inline-block;
        overflow: visible;
        width: 190px;
        height: 199px;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
        margin-right: 12px !important;
    }

    .button-adicionar {
        border-radius: 10px;
        width: 145px;
        height: 36px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: bold;
        position: relative;
        border: none;
        color: white;
        background-color: #F0A431;
    }

    .card-image {
        width: 100px;
        height: 80px;
        background-size: 100% 100%;
        margin-top: 23px;
        border: none;
        border-radius: 20px;
        background-image: url(/usuario/assets/img/illustrations/hamburguer.png);
    }

    .card-text {
        color: #000000;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        margin-top: 20px;
    }

    .card-value {
        color: #F0A431;
        margin-top: -10px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
    }
}

@media (min-width: 900px) {
    .card {
        margin-top: 15px;
        border: none;
        border-radius: 20px;
        display: inline-block;
        overflow: visible;
        width: 270px;
        height: 298.5px;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
        margin-right: 18px !important;
    }

    .button-adicionar {
        border-radius: 15px;
        margin-top: 15px;
        width: 217.5px;
        height: 54px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: bold;
        position: relative;
        border: none;
        color: white;
        background-color: #F0A431;
    }

    .card-image {
        width: 150px;
        height: 120px;
        background-size: 100% 100%;
        margin-top: 34.5px;
        border: none;
        border-radius: 30px;
        background-image: url(/usuario/assets/img/illustrations/hamburguer.png);
    }

    .card-text {
        color: #000000;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 28.5px;
        margin-top: 30px;
    }

    .card-value {
        color: #F0A431;
        margin-top: -15px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 28.5px;
    }

    .carrinho {
        width: 125px;
        height: 50px;
        background: #081C15;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff !important;
        position: fixed;
        bottom: 10px;
        left: 300px;
        border-radius: 20px;
    }

    .finalizar {
        width: 125px;
        height: 50px;
        background: #081C15;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff !important;
        position: fixed;
        bottom: 10px;
        right: 300px;
        border-radius: 20px;
    }
}

.categoria {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    position: relative;
}

.button-adicionar:active {
    filter: brightness(50%)
}

.scrolling-wrapper::-webkit-scrollbar {
    display: none;
}

.carrinho:active {
    filter: brightness(50%)
}

.finalizar:active {
    filter: brightness(50%)
}