<link rel="stylesheet" href="site/css/main.css" />

<section style="background-color: #D8F3DC;" class="pricing-table section">
    <div class="container">
        <div class="title">
            <h3 style="text-align: center;color:#95D5B2" data-wow-delay=".2s">
                 <a href="/"><img src="site/images/logo/logo.png"></a> 
            </h3>
        </div>
        <br>
        <div class="row">
            <div class="col-12">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-8 col-12" style="margin:auto;">
                <div class="single-table wow fadeInUp" data-wow-delay=".4s">
                    <div class="table-head">
                        <h4 class="title" style="color:#95D5B2">Plano mensal</h4>
                        <div class="price">
                            <p class="amount" style="color: #95D5B2;">R$ 50,00</p>
                        </div>
                    </div>
                    <ul class="table-list">
                        <li style="color: #2D6A4F;">size</li>
                    </ul>
                    <div class="button">
                        <button type="button" style="top: 300px;" class="btn btn-primary btn-lg">Contratar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



{{>_preloader}}