{{>usuario/_top-css}}

<div class="container-fluid bg-soft">
    <div class="row">
        <div class="col-12">
            {{>usuario/_menu}}

            <main class="content">

                <div class="">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                            <li class="breadcrumb-item"><a href="/pedido/pedidos"><span class="fas fa-home"></span></a></li>
                        </ol>
                    </nav>
                </div>

                <div>

                </div>
                <center>
                    <img src="/usuario/assets/img/favicon/block.png"><br>
                    <h4 style="font-family: monospace;">Você não tem permissão para acessar esta página.</h4>
                    <h6>Peça para um administrador fornecer o acesso para sua conta.</h6><br>
                    <button class="btn btn-primary btn-md mb-4"><a href="/pedido/pedidos" style="color: white;">« Voltar</button></a>

                </center>
            </main>

        </div>
    </div>
</div>

{{>usuario/_rodape}}

{{>_msg}}